body{background-color: black;
}
.post {
    margin: auto;
    width: 668px;
    background-color: bisque;
    
    
}
div{
box-sizing: border-box;
}
.post-header {
   display: flex;
   
    
  
    font-size: 25px;
    width: 100%;
    height: 50px;
    margin: 10px;
    padding-top: 10px;
    
    
}
.icono-derecha1 {
    width: 78%;
    float: right;
    text-align: right;
}


.usuario {
    font-size: 12px;
    width:100px;
    height: 10px;
}

.foto {
    height: 500px;
    

}

.contenedor {
    width: 100%;
    height: 30px;
    margin: 10px;
    font-size: 25px;

}

.icono-derecha {
    width:7%;
    float: right;
    

}

p {
    margin: 4%;


}